<header class="am-topbar am-topbar-invers">
	<h1 class="am-topbar-brand">
		<a href="#">Amaze UI</a>
	</h1>

	<button class="am-topbar-btn am-topbar-toggle am-btn am-btn-sm am-btn-success am-show-sm-only" data-am-collapse="{target: '#doc-topbar-collapse'}"><span class="am-sr-only">导航切换</span> <span class="am-icon-bars"></span></button>

	<div class="am-collapse am-topbar-collapse" id="doc-topbar-collapse">
		<ul class="am-nav am-nav-pills am-topbar-nav">
			<li><a routerLink="/">首页</a></li>
			<li><a routerLink="/detail">项目</a></li>
			<li class="am-dropdown" data-am-dropdown>
				<a class="am-dropdown-toggle" data-am-dropdown-toggle href="javascript:;">
          下拉 <span class="am-icon-caret-down"></span>
        </a>
				<ul class="am-dropdown-content">
					<li class="am-dropdown-header">标题</li>
					<li><a href="#">1. 去月球</a></li>
					<li class="am-active"><a href="#">2. 去火星</a></li>
					<li><a href="#">3. 还是回地球</a></li>
					<li class="am-disabled"><a href="#">4. 下地狱</a></li>
					<li class="am-divider"></li>
					<li><a href="#">5. 桥头一回首</a></li>
				</ul>
			</li>
		</ul>

		<form class="am-topbar-form am-topbar-left am-form-inline" role="search">
			<div class="am-form-group">
				<input type="text" class="am-form-field am-input-sm" placeholder="搜索">
			</div>
		</form>

		<div class="am-topbar-right">
			<div class="am-dropdown" data-am-dropdown="{boundary: '.am-topbar'}">
				<button class="am-btn am-btn-secondary am-topbar-btn am-btn-sm am-dropdown-toggle" data-am-dropdown-toggle>其他 <span class="am-icon-caret-down"></span></button>
				<ul class="am-dropdown-content">
					<li><a href="#">注册</a></li>
					<li><a href="#">随便看看</a></li>
				</ul>
			</div>
		</div>

		<div class="am-topbar-right">
			<button class="am-btn am-btn-primary am-topbar-btn am-btn-sm">登录</button>
		</div>
	</div>
</header>
<div class="am-container">
	<section class="am-panel am-panel-primary">
		<header class="am-panel-hd">
			<h3 class="am-panel-title">登陆</h3>
		</header>
		<div class="am-panel-bd">
			<form class="am-form am-form-horizontal" *ngIf="active" (ngSubmit)="onSubmit()" #userForm="ngForm">
				<div class="am-form-group">
					<label for="doc-ipt-3" class="am-u-sm-2 am-form-label">电子邮件</label>
					<div class="am-u-sm-10">
						<input type="email" id="doc-ipt-3" placeholder="输入你的电子邮件" [(ngModel)]="email" name="email" required>
					</div>
				</div>
				<div class="am-form-group">
					<label for="doc-ipt-pwd-2" class="am-u-sm-2 am-form-label">密码</label>
					<div class="am-u-sm-10">
						<input type="password" id="doc-ipt-pwd-2" placeholder="设置一个密码吧" require name="pwd">
					</div>
				</div>
				<div class="am-form-group">
					<div class="am-u-sm-offset-2 am-u-sm-10">
						<div class="checkbox">
							<label>
          <input type="checkbox"> 记住十万年
        </label>
						</div>
					</div>
				</div>
				<div class="am-form-group">
					<div class="am-u-sm-10 am-u-sm-offset-2">
						<button type="submit" class="am-btn am-btn-default">提交登入</button>
					</div>
				</div>
			</form>
		</div>
	</section>
	<list-component></list-component>
</div>