<div class="am-container" [ngSwitch]="show_expression">
	<p *ngSwitchCase="'show_first'" style="color: blue">Adds / removes DOM sub-trees when the nest match expressions matches the switch expression.</p>
	<p *ngSwitchCase="'show_second'" style="color: red">NgSwitch stamps out nested views when their match expression value matches the value of the switch expression.</p>
	<p *ngSwitchDefault style="color: brown">The ngSwitchCase directive informs the parent NgSwitch of which view to display when the expression is evaluated. </p>
	<h2 [ngClass]="first">Angular2.0</h2>
</div>