<div class="am-container">
    <div class="am-u-lg-10">
        <article class="am-article">
            <div class="am-article-hd">
                <h1 class="am-article-title">永远的蝴蝶</h1>
                <p class="am-article-meta">陈启佑（台湾）</p>
            </div>

            <div class="am-article-bd">
                <p class="am-article-lead">《永远的蝴蝶》是台湾著名作家陈启佑先生的一篇小小说。这是一篇散文化的微型小说，其语言具有较强的抒情色彩，立意含蓄隽永 。作品情节很简单，写的是一个凄美的爱情故事。在一个雨天，“我”的恋人樱子自愿帮“我”到马路对面去寄信。随着一阵拔尖的刹车声，樱子年轻的生命消逝了。</p>
            </div>
        </article>
    </div>
</div>